* {
  margin: 0;
  padding: 0;
  padding-right: 0px;
  box-sizing: border-box;
}
body {
  width: 100%;
  font-family: Calibril,CalibrilIE,CalibriB,CalibriBIE,serif;
  overflow-x: hidden;
}
h1 {
  font-size: 33px;
  line-height: 40px;
  color: #ffe42a;
  display: block;
  text-align: center;
  font-weight:bold;
  font-family: CalibriB,CalibriBIE,serif;
  margin-bottom:0px;
}
.ln-1 {
 line-height:1;
}