* {
  margin: 0;
  padding: 0;
  padding-right: 0px;
  box-sizing: border-box;
}
body {
  width: 100%;
  font-family: Calibril,CalibrilIE,CalibriB,CalibriBIE,serif;
  overflow-x: hidden;
}
h1, h2, h3, h4, p.h2, p.h3  {
  font-family: CalibriB,CalibriBIE,serif;

}
h1 {
  font-size: 33px;
  line-height: 40px;
  color: #ffe42a;
  display: block;
  text-align: center;
  font-weight:bold;
  font-family: CalibriB,CalibriBIE,serif;
  margin-bottom:0px;
  @media (max-width: 991px) {
      font-size: 26px;
      line-height: 110%;
      margin-top: 0;
      margin-bottom: 5px;
  }
}
.ln-1 {
 line-height:1;
}
p.h2 {
    font-size: 30px;
    color: #1a1a1a;
    padding: 40px 0 40px;
    display: block;
    text-align: center;
}
.hidden {
  display: none;
}

