@font-face{
  font-family:Calibril;
  font-display: swap;
  src:local("Calibril"),url(/css/fonts/calibril.ttf.gz),url(/css/fonts/calibril.ttf);
}
@font-face{
  font-family:CalibrilIE;
  font-display: swap;
  src:local("CalibrilIE"),url(/css/fonts/calibril.eot.gz),url(/css/fonts/calibril.eot);
}
@font-face{
  font-family:CalibriB;
  font-display: swap;
  src:local("CalibriB"),url(/css/fonts/calibrib.ttf.gz),url(/css/fonts/calibrib.ttf);
}
@font-face{
  font-family:CalibriBIE;
  font-display: swap;
  src:local("CalibriBIE"),url(/css/fonts/calibrib.eot.gz),url(/css/fonts/calibrib.eot);
}
