<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 pt-5">
                <div class="footer__info">
                    <img src="/img/tpl/footerlogo.png" class="footer__logo">
                    <p class="footer__info_yellow footer__info_24">курсы ЕГЭ и ОГЭ в паре</p>
                    <p class="footer__info_yellow footer__links">
                        <a href="/kursy-ege/">Курсы ЕГЭ</a> |
                        <a href="/kursy-oge-gia/">Курсы ОГЭ (ГИА)</a> |
                        <a href="/kursy-dlya-shkolnikov/">Курсы 5-8 классы</a>
                    </p>
                    <p class="footer__info_yellow footer__links"><a href="/oferta/">Договор-оферта</a> | <a href="/privacy/">Политика конфиденциальности</a> | <a href="/sitemap/">Карта сайта</a></p>
                </div>
            </div>
            <div class="col-md-4 pt-3">
                <div class="footer__social">
                    <p>Дружите с нами:</p>
                    <div class="footer__social-links">
                        <a href="https://vk.com/egevpare" target="_blank" rel="nofollow"><img src="/img/tpl/vk.png" alt="Курсы ЕГЭ и ОГЭ в паре TwoStu в VK"></a>
                        <a href="https://www.instagram.com/ege.oge.gia/" target="_blank" rel="nofollow"><img src="/img/tpl/instagramm.png" alt="Курсы ЕГЭ и ОГЭ в паре TwoStu в Instagram"></a>
                        <a href="http://www.youtube.com/channel/UC7EePCg-n0yJ2KvZHBSz5RQ/feed" target="_blank" rel="nofollow"><img style="border-radius:10px;" src="/img/tpl/youtube.png" alt="Официальный канал YouTube курсов ЕГЭ и ОГЭ в паре TwoStu" width=""></a>
                        <a href="https://www.facebook.com/egevpare" target="_blank" rel="nofollow"><img src="/img/tpl/facebook.png" alt="Курсы ЕГЭ и ОГЭ в паре TwoStu на FB"></a>
                    </div>
                    <p><a href="mailto:info@egevpare.ru"><a href="mailto:info@egevpare.ru">info@egevpare.ru</a></a></p>
                    <p>Все права защищены</p>
                    <p>© 2009—2019 TwoStu</p>
                    <div style="text-align:center;">
                    <img src="/img/tpl/mir.png" alt="Мир" height="25px">
                    <img src="/img/tpl/visa.png" alt="Visa" height="25px">
                    <img src="/img/tpl/master_card.png" alt="MasterCard" height="25px">
                    <img src="/img/tpl/pay_keeper.png" alt="PayKeeper" height="25px">
                    </div>
                </div>
            </div>
            <div class="col-md-4 pt-5">
                <div class="footer__phone">
                    <p class="footer__phone_big"><a href="tel:+74954092588">+7 (495) 409-25-88</a></p>
                    <p class="footer__phtext">ежедневно с 9:00 до 22:00</p>
                    <a class="footer__callback" href="#myModal" data-toggle="modal" onclick="yaCounter32871690.reachGoal('ADD1'); return true;">Закажите обратный звонок</a>
                </div>
            </div>
        </div>
        <div class="footer__small-text">
            Представленная на сайте информация носит ознакомительный характер и не является публичной офертой. <br>Точную информацию о предлагаемых учебных программах и ценах на них вы можете узнать у администрации курсов.
        </div>
    </div>
</footer>