<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="logo">
                            <img class="logo__img" src="/img/tpl/logo.png">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="top-menu">
                            <ul>
                                <li><a href="#">Блог</a></li>
                                <li><a href="#">Оплата</a></li>
                                <li><a href="#">Отзывы</a></li>
                                <li><a href="#">Вакансии</a></li>
                            </ul>
                        </div>
                        <div class="change-city">
                            <span>Ваш город: </span>
                            <div class="dropdown-container" style="display:inline;">
                                <button type="button" class="btn dropdown-toggle city" href="#modal-city" data-toggle="modal" aria-haspopup="true" aria-expanded="false">
                                    Москва
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="header__phone">+7 (495) 409-25-88</div>
                <div class="header__callback"><a href="#">Закажите обратный звонок</a></div>
            </div>
        </div>
    </div>
</header>