.directions {
    background: url(/img/tpl/dir_bg_lg.png);
    background-size: cover;
    background-position: center;
  &__item {
    text-align: center;
    margin-bottom:20px;
    span {
      display: inline-block;
      width: 100%;
    }
    .directions__block {
        text-align: center;
        margin: 10px 0px;
        img {
          border: solid 10px transparent;
        }
        &:hover {
          text-decoration: none;
          img{
            border-color: #1ea2b9;
            border-radius: 100%;
          }
        }
        span {
            display: block;
            text-align: center;
            padding: 10px;
            font-size: 20px;
            font-family: CalibriB;
            text-transform: uppercase;
            color: #000;
            text-decoration: none;
        }
    }
  }

}


.prices {
  background: #f7f7f7;
  padding:10px 0px 20px;
  &-blocks {
    max-width: 1200px;
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    line-height: 20px;
    margin-top: 20px;

  }

  .tabsprices {
    .price-blocks {
      max-width: 1200px;
      display: flex;
      width: 100%;
      margin: auto;
      justify-content: center;
      line-height: 20px;
      margin-top: 20px;
      align-items: flex-end;
      @media (max-width:992px){
      display: block;

      }
    }
    .price-block {

      width: 33.33%;
      max-width: 342px;
      font-size: 16px;
      margin: 0 10px;

      @media (max-width:992px){
          margin:0px auto 80px auto;
          width: 100%;
          max-width: 350px;

      }

      &_color_lighter .wrap{
        background:#3ac4c0;
      }
      &_color_middler .wrap{
        background:#21a39d;
      }
      &_color_darker .wrap{
        background:#13757f;
      }
      .wrap {
          margin: 10px;
          padding: 29px;
          padding-top: 15px;
          color: #fff;
          box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
          padding-bottom: 40px;
      }
      &__name {
        color: #fff;
        font-size: 25px;
        text-transform: uppercase;
        padding-bottom: 10px;
        text-align: center;
        font-weight: bold;
        position: relative;
        z-index: 0;
        font-family: CalibriB,CalibriBIE,serif;
      }
      &__info{
        position: relative;
        z-index: 0;
        p {
          padding: 3px;
          font-size: 16px;
          margin-bottom: 5px !important;
        }
      }

      .price-sliders {

        &__things {
          p {
            margin-bottom:0px;
          }
        }
        span.valueofrange {
          background: rgba(0,0,0,0.3);
          width: 22px;
          display: inline-block;
          height: 22px;
          text-align: center;
          margin-left: 5px;
        }
        input.slider {
          width: calc( 100% + 20px );
          margin-left: -10px;
          -webkit-appearance: none;
          appearance: none;
          width: 100%;
          height: 3px;
          border-radius: 5px;
          background: rgba(255, 255, 255, 0.7);
          outline: none;
          margin-top: 10px;
        }
        .hint {
            background: url(/img/tpl/question.png) no-repeat 85% 45%;
            width: 19px;
            float: right;
            height: 19px;
            margin-top: -27px;
            margin-right: -10px;
        }
      }
      .price-checkboxes {
        &__item {
          p {
            margin-bottom:0px;
          }
          label {
              background: url(/img/tpl/checkbox-white.png) no-repeat left !important;
              background-size: 30px;
              font-size: 16px;
              color: #fff;
              word-wrap: break-word;
              white-space: normal;
              position: static;
              padding-left:40px;
              padding-top:15px;
              margin-bottom:0px;
              &.selected {
                background: url(/img/tpl/checked-white.png) no-repeat left !important;
                background-size: 30px;
              }

          }
          .checkbox {
            display: none;
          }
        }
      }

      .hint__text {
        display: none;
      }

      &__price .price{
          font-weight: 700;
          font-size: 32px;
          line-height: 31px;
          margin-bottom: 5px;
          padding-top: 20px;
      }

      &__btn {
          width: calc( 100% - 20px);
          margin-left: 10px;
          margin-top: -40px;
          height: 50px;
          float: left;
          background: #ffe237;
          border-bottom: 2px solid #ccc;
          text-transform: uppercase;
          font-size: 20px;
          font-weight: 700;
          color: #333;
          border-radius: 100px;
          text-align: center;
          outline: none;
          border: none;
          animation: background_shadow 5s infinite;
          &:hover {
            box-shadow: inset 0 -3px 5px #000a;
            background: #FCEE21;
            color: #000;
            padding-top: 2px;
            cursor: pointer;
          }
      }

      &.best .wrap{
        margin-top: -10px;
        padding-top: 40px;
        box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
        &:before {
            content: '';
            position:absolute;
            background: url(/img/tpl/best_offer.png) no-repeat;
            width: 150px;
            height: 128px;
            display: block;
            margin-top: -72px;
            margin-left: -52px;
            background-size: contain;
        }
      }

      &__more {
        min-height:60px;
        margin-top:20px;
        p{
          margin-bottom:5px;
        }
      }


    }


  }
}


#tabspricesbtns {
  margin-bottom: 60px;
  .dropdown-toggle {
    color: #5A8480;
    background-color: transparent;
    border: #5A8480 solid 2px;
    border-radius: 0;
    font-size: 20px;
    width: 100%;
    padding: 10px;
  }
  .dropdown-container {
    float: none;
    width: 339px;
    margin: 0 auto;
  }
}


.why-we {
  background:url('/img/tpl/bg_benefits.min.jpg') no-repeat;

  .why-we__item {
    float: left;

    margin: 20px auto;
    height: 160px;
    position: relative;
    line-height: 1.2;
    &-icon {
      width: 25%;
      box-sizing: border-box;
      float: left;
    }
    &-text {
      width: 75%;
      box-sizing: border-box;
      float: left;
      .title_benefits {
        text-align: left;
        font-size: 24px;
        margin-bottom: 7px !important;
        font-family: CalibriB,CalibriBIE,serif;
        font-weight: bold;
      }
      .txt_benefits p {
        padding: 0 25px 0 0;
        font-size: 18px;
      }
    }
    @media (max-width:991px){
      height:auto;
      margin:5px auto;
      &-icon {
        margin-right: 20px;
        width: 60px;
        img {
          height: 60px;
        }
      }
      &-text {
        width: 75%;
        .title_benefits {
          text-align: left;
          font-size: 1.2em;
          font-size: 1.2em;
          margin-bottom: 7px;
          font-family: CalibriB,CalibriBIE,serif;
          font-weight: bold;
        }
      }
    }
    @media (max-width:400px){
      &-text {
        width: 70%;
      }
    }
  }
}

.video {
    background: url(/img/tpl/about-bg.png) no-repeat 50% 110px #F1F1F1;
    padding-top: 20px;
    min-height: 580px;

    @media (max-width:767px){
      background:#F1F1F1;
    }

  .h2 {
      color: #1ea2b9;
      font-size: 30px;
      padding: 25px 0;
      margin: 40px auto 17px;
      height: 84px;

      display: block;
      text-align: center;
  }
  &_container {
    iframe {
      width: 531px;
      max-width:100%;
      height: 312px;
      margin-left: -10px;
      @media (max-width:767px){
        margin-left: 0px;
      }
    }
  }
}

.teachers {
  padding:40px 0px;
  .h2 {
      color: #1ea2b9;
      font-size: 28px;
      padding: 25px 0;
      height: 84px;
      display: block;
      text-align: center;
  }
  .b-carousel-button-left {
    float: left;
    background: url(/img/tpl/arrow1.png);
  }
  .b-carousel-button-right {
    float: right;
    background: url(/img/tpl/arrow2.png);
  }
  .b-carousel-block5 {
    width: 366.6px;
  }
  .b-carousel-block5 img {
    display: block;
    margin: 0 auto;
    border-radius: 100%;
  }
  button.watch-video-btn {
    background: url(/img/tpl/watch-video-btn.png) bottom;
    border: none;
    text-align: center;
    color: #fff;
    width: 200px;
    height: 43px;
    padding: 0 0px 0 15px;
    margin: -30px auto 0;
    background-size: contain;
    cursor: pointer;
    display: block;
    position: relative;
  }
  .b-carousel-block5 .tutorname {
    color: #1ea2b9;
    font-size: 1.17em;
  }
  .b-carousel-block5 p {
    margin: 0 !important;
    padding: 0;
    text-align: center;
    font-family: CalibriB,CalibriBIE,serif;
    font-weight: bold;
    font-size: 0.83em;
  }
  .b-carousel-block5 .subjects {
     text-transform: uppercase;
     font-size: 1em;
  }

  .multiple-items {
    .slick-prev {
        height:75px;
        background: url(/img/tpl/arrow1.png) no-repeat;
        &:hover, &:active, &:focus {
          background: url(/img/tpl/arrow1.png) no-repeat;
        }
        &:before {
          content:none;
        }
    }
    .slick-next {
      height:75px;
      background: url(/img/tpl/arrow2.png) no-repeat;
      &:hover, &:active, &:focus {
        background: url(/img/tpl/arrow2.png) no-repeat;
      }
      &:before {
        content:none;
      }
    }
  }

  a.link {
    text-align: center;
    color: #267E8C;
    font-size: 25px;
    border-top: 1px solid;
    font-family: CalibriB;
    margin-left: calc( 50% - 105px);
    width: 210px;
    margin-top: 35px;
    display: block;
    &:hover {
      padding-top: 2px;
      text-decoration: none;
    }
  }
  @media (max-width:575px){
    .multiple-items
      .slick-next {
        right:15px;
      }
      .slick-prev {
        left: 15px;
      }
  }
}


.reviews {
  background: url(/img/tpl/bg.min.jpg) no-repeat top;
  background-size: cover;

  width: 100%;
  height:auto;
  &__linkblock {
    min-height:70px;
    text-align: center;
  }
  &__text_color_white {
    color:white;

  }
  &__link {
      float: right;
      color: #fff;
      font-size: 22px;
      font-family: CalibriB;
      border-top: rgba(255,255,255,0.7) 2px solid;
      padding-top: 3px;
      margin-right:10px;
      @media (max-width:767px) {
        float:none;
        margin:0 auto;
      }
      &:hover {
        color:white;
        padding-top: 6px;
        text-decoration: none;
      }
  }

  .h2 {
    color:white;
  }

  &__slider {
    @media (max-width:600px){
      margin:0 auto;
      width:80%;
    }

    .slick-prev {
      height:75px;
      background: url(/img/tpl/arrow3.png) no-repeat;
      &:hover, &:active, &:focus {
        background: url(/img/tpl/arrow3.png) no-repeat;
      }
      &:before {
        content:none;
      }
    }
    .slick-next {
      height:75px;
      background: url(/img/tpl/arrow4.png) no-repeat;
      &:hover, &:active , &:focus {
        background: url(/img/tpl/arrow4.png) no-repeat;
      }
      &:before {
        content:none;
      }
    }

    .card-review {
        padding: 10px;
        //padding-right: 20px;
        background: #fff;
        margin: 10px;
        box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
        //min-width: 47%;
        //list-style-type: none;

        .info-container {
          max-width: calc(100% - 210px);
          float: left;
          width: 100%;

          @media (max-width:600px){
              width: 100% !important;
              margin-right: 10px;
              float: none;
              text-align: center;
            max-width: 100%;
          }

          .card-title {
            font-size: 21px;
            color: #000;
            text-align: left;
            min-height:65px;

            @media (max-width:600px){
             min-height: 10px;
            }
          }
          p {
            font-size: 16px;
            font-weight: 700;
          }
          p.subject {
            padding-bottom: 15px;
          }
          .ball-slider.bad {
            margin-bottom: 15px;
          }
          .ball-slider .slider {
            color: #000;
            width: calc(100% - 40px);
            display: inline-block;
            text-align: center;
            background-color: #F2F2F2;
            border-radius: 10px;
          }
          .ball-slider span {
            color: #B3B3B3;
          }
        }
        .image-container {
          width: 200px;
          height: 100%;
          margin-right: 10px;
          float: left;
          text-align: center;

          @media (max-width:600px){
            width: 100%;
            margin-right: 10px;
            float: none;
            text-align: center;
            img {
              margin:0 auto;
            }
          }

        }
        .b-carousel-block1 img {
          margin: 0 15px;
        }
        button.watch-video-btn {
          background: url(/img/tpl/watch-video-btn.png) bottom;
          border: none;
          text-align: center;
          color: #fff;
          width: 200px;
          height: 43px;
          padding: 0 0px 0 15px;
          margin: -30px auto 0;
          background-size: contain;
          cursor: pointer;
          display: block;
          position: relative;
        }
        .hidden {
          display: none !important;
        }
        .info-container {
          width: 270px;
          padding-right: 20px;
        }
    }
  }
}

.university {
  box-shadow: -1px 0 10px #ddd;
  padding-bottom:40px;
  &__slider {

    .slick-track {
      display: flex;
      align-items: center;
    }

    div {
      text-align: center;
      img {
        margin:0 auto;
        max-width: 100%;
      }
    }
    @media (max-width:600px){
      max-width: 90%;
      margin:0 auto;
    }
    .slick-prev {
      height:35px;
      background: url(/img/tpl/d-slider-btn.png) no-repeat;
      &:before, {
        content:none;
      }
      &:hover, &:active, &:focus {
        background: url(/img/tpl/d-slider-btn.png) no-repeat;
      }
    }
    .slick-next {
      height:35px;
      background: url(/img/tpl/d-slider-btn-right.png) no-repeat;
      &:before {
        content:none;
      }
      &:hover, &:active, &:focus {
        background: url(/img/tpl/d-slider-btn-right.png) no-repeat;
      }
    }

  }
}
.fillials {
  &__map {
    text-align: center;
    img {
      max-width: 100%;
    }
  }
}
.maintext {
  padding:40px 0px;
}